---
const today = new Date()
---

<footer class='w-full px-16 h-28 border-t-2'>
	<span class='flex justify-center items-center'>
		&copy; {today.getFullYear()} Andrew Poland. All rights reserved.	
	</span>	
	<span class='flex justify-center'>
		<a href="https://astro.build"><img src="https://astro.badg.es/v2/built-with-astro/small.svg" alt="Built with Astro" width="192" height="32"></a>		
	</span>
	<span class='flex justify-center'>
		<a href="https://github.com/danielcgilibert/blog-template"> enhanced by blog-template</a>
	</span>
</footer>

